{% include "backend/header.twig" %}
{% include "backend/navbar.twig" %}
<div class="container"></div>
<div class="container blogs">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex"><h1>Proje Düzenleme Sayfası</h1>
                <form class="deletebutton" method = "post" action="{{ base_url("management/projects") }}">
                    <input name="project_delete_id" type="hidden" value="{{ project['project_id'] }}">
                    <button type="submit"><span class="material-symbols-outlined">
delete
</span></button>
                </form></div>
            <form class="form" enctype="multipart/form-data"  method = "post" action="{{ base_url("management/projects") }}">
                <div>
                    <input name="project_edit_id" type="hidden" value="{{ project['project_id'] }}">
                    <label for="">Proje Adı:</label>
                    <div><input name="project_edit_title" type="text" value="{{ project['project_title'] }}"></div>
                </div>
                <div style="margin-top: 1%;">
                    <label for="">Proje Açıklaması:</label>
                    <div><input name="project_edit_description" type="text" value="{{ project['project_description'] }}"></div>
                </div>
                <div style="margin-top: 1%;">
                    <label for="">Proje Resmi:</label>
                    <div><input name="project_edit_image" type="file"></div>
                </div>
                <div style="margin-top: 1%;">
                    <label for="">Proje Grubu:</label>
                    <div>
                        <select name="edit_pg_group" >
                            {% for pg in pggroups %}
                                {% if pg['pg_group_id'] == project['pg_group_id'] %}
                                <option value="{{ pg['pg_group_id'] }}" selected>{{ pg['pg_group_title'] }} </option>
                                {% else %}
                                <option value="{{ pg['pg_group_id'] }}">{{ pg['pg_group_title'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button style="margin-top: 1%; margin-left: 0;" type="submit">Düzenle</button>
            </form>

        </div>
        <div class="col-md-2" style="padding: 1% 0.9%;">
        </div>
    </div>

</div>
{% include "backend/footer.twig" %}