{% include "backend/header.twig" %}
{% include "backend/navbar.twig" %}
<div class="container"></div>
<div class="container blogs">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex"><h1>Kullanıcı Düzenleme Sayfası</h1>
                <form class="deletebutton" method = "post" action="{{ base_url("management/admin") }}">
                    <input name="user_delete_id" type="hidden" value="{{ user['user_id'] }}">
                    <button type="submit"><span class="material-symbols-outlined">
delete
</span></button>
                </form></div>
            <form class="form" method = "post" enctype="multipart/form-data"  action="{{ base_url("management/admin") }}">
                <div>
                    <input name="user_edit_id" type="hidden" value="{{ user['user_id'] }}">
                    <label for="">Kullanıcı Adı:</label>
                    <div><input name="user_edit_name" type="text" value="{{ user['user_name'] }}"></div>
                </div>
                <div style="margin-top: 1%;">
                    <label for="">Kullanıcı Şifresi:</label>
                    <div><input name="user_edit_pass" type="text" value="{{ user['user_password'] }}"></div>
                </div>
                <div style="margin-top: 1%;">
                    <label for="">Kullanıcı Yetkisi:</label>
                    <div>
                        <select name="user_edit_auth" >
                            {% for i in 1..2 %}
                                {% if user['user_auth'] == i %}
                                    <option value="{{ user['user_auth'] }}" selected>
                                        {% if i == 1 %}
                                            Admin
                                        {% else %}
                                            İçerik Üretici
                                        {% endif %}
                                    </option>
                                {% else %}
                                    <option value="{{ i }}">
                                        {% if i == 1 %}
                                            Admin
                                        {% else %}
                                            İçerik Üretici
                                        {% endif %}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button style="margin-top: 1%; margin-left: 0;" type="submit">Düzenle</button>
            </form>

        </div>
        <div class="col-md-2" style="padding: 1% 0.9%;">
        </div>
    </div>

</div>
{% include "backend/footer.twig" %}